@{
}

@model Lab1.Models.DepositModels.AddDepositModel

<form asp-action="Profile" asp-controller="Client" asp-anti-forgery="true">
    <input type="submit" value="Назад">
</form>

<h1>Пополнение вклада</h1>
 
<form asp-action="Add" asp-controller="Deposit" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Money">Введите денежную сумму</label><br />
            <input type="Money" asp-for="Money" />
            <span asp-validation-for="Money" />
        </div>
        <div>
            <input type="hidden" asp-for="Id" value="@ViewBag.DepositId" />
        </div>
        <div>
            <input type="submit" value="Пополнить вклад" />
        </div>
    </div>
</form>

@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
