@model Lab1.Models.UserModels.LogInUserModel

<form asp-action="Profile" asp-controller="Bank" asp-anti-forgery="true">
    <input type="hidden" name="bankId" value="@ViewBag.Id" />
    <input type="submit" value="Назад">
</form>

<h2>Авторизация</h2>
 
<form asp-action="LogIn" asp-controller="User" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Email">Введите email</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Введите пароль</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        
        <div>
            <input type="hidden" asp-for="BankId" value="@ViewBag.Id" />
        </div>
        <div>
            <input type="submit" value="Авторизация" />
        </div>
    </div>
</form>

@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
