@{
}

@model Lab1.Models.AdminModels.CloseBalanceActionsAdminModel

<form asp-action="Clients" asp-controller="Admin" asp-anti-forgery="true">
    <input type="submit" value="Назад">
</form>

@if (Model.Actions.Any())
{
    <table cellpadding="10" border="1">
        <caption>Закрытия счетов</caption>
        <tr>
            <th>Время</th>
            <th>Клиент</th>
            <th>Счет</th>
        </tr>
        @foreach (var action in Model.Actions)
        {
            <tr>
                <td>@action.Time</td>
                <td>@action.UserEmail</td>
                <td>@action.BalanceName</td>
                @if (!action.Canceled)
                {
                    <td>
                        <form asp-action="CancelCloseBalanceAction" asp-controller="Admin" asp-anti-forgery="true">
                            <input type="hidden" name="actionId" value="@action.Id" />
                            <input type="submit" value="Отменить">
                        </form>
                    </td>
                }
                else
                {
                    <td>Отменено</td>
                }
            </tr>
        }
    </table>
}
else
{
    <p>Закрытий счетов нет</p>
}
